/* GLOBAL STYLING */
html,
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.top-banner {
  background-image: url(/images/banner-img.jpg);
  background-size: cover;
  background-position: center;
  padding: 3em;
  display: flex;
  justify-content: center;
}
.logo {
  width: 25em;
  max-width: 100%;
}
footer {
  color: white;
  text-align: center;
  background-color: #141414;
  padding: 4em 0;
}
footer a {
  color: white;
  font-size: 2em;
  margin: 0.5em;
}
footer p {
  color: #a4a4a4;
}

.message {
  padding: 1em;
  color: grey;
}
.success {
  color: green;
}

.error {
  color: red;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #36514b;
  background-color: #ffd633;
  padding: 0.2em;
}

h2 {
  font-family: "Jost" sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.loader {
  border: 10px solid #a4a4a4;
  border-top: 10px solid #141414;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
  margin: 4em 0;
}
/* NAVIGATION */

nav {
  background-color: #141414;

  display: flex;
  justify-content: flex-end;
  padding: 2em;
}
nav a {
  color: white;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-size: 1.5em;
  margin: 0.6em;
}

.navbar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2em;
}
.navbar.active {
  display: flex;
}
.current {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 7px;
  color: #ffd633;
}

.hamburger {
  color: white;
  display: block;
  cursor: pointer;
  font-size: 2em;
}

/* INDEX */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.latest-blogs-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 5em;
}
.latest-blogs-container div {
  max-width: 25em;
}
.latest-blogs {
  background-color: #ebebeb;
  display: none;
}
.dots-container {
  display: flex;
}
.dots {
  background-color: transparent;
  margin: 1em;
  width: 1em;
  height: 1em;
  border: 1px solid;
  border-radius: 50%;
}
.enable,
.dots:hover {
  background-color: #36514b;
}
.blog-navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
}
.blog-navigator button {
  color: #141414;
  font-family: "Josefin Sans", sans-serif;
  padding: 1em;
  margin: 1em;
  background-color: transparent;
  cursor: pointer;
}

/* ABOUT */
#about-h1 {
  margin: 3em auto;
  max-width: 29.4em;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
}
.about-container img {
  width: 28em;
  flex-wrap: wrap;
  max-width: 100%;
}
.about-container p {
  max-width: 17em;
  font-size: 1.2em;
}

/* BLOG */

.blogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.blog {
  margin: 1em 3em;
  max-width: 25em;
}

.blog img {
  max-height: 10em;
}
.load-more-btn {
  width: 10em;
  margin: 0 auto;
}
h2 {
  font-family: "Jost" sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

/* BLOG PAGE */
#blog-h1 {
  margin: 3em auto;
  max-width: 50em;
}
.blog-post-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.blog-title {
  background-color: transparent;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
}
.blog-post-container {
  width: 60%;
}
.blog-post {
  display: flex;
  flex-direction: column;
}
.social-buttons {
  font-size: 1.5em;
  align-self: flex-end;
  color: #36514b;
  margin: 0.5em 0;
}
.blog-excerpt {
  font-size: 1.5em;
}
.blog-content {
}
.blog-post-container img {
  object-fit: cover;
  height: 20em;
  width: 100%;
}
/* CONTACT */
#contact-h1 {
  max-width: 12.5em;
  margin: 3em auto;
}
form {
  display: flex;
  margin: 3em auto;
  flex-direction: column;
  max-width: 25em;
  justify-content: center;
}
form label {
  font-family: "Jost" sans-serif;
  text-transform: uppercase;
}
form input {
  margin-bottom: 1em;
}
form textarea {
  margin-bottom: 2em;
}
#submit {
  background-color: #36514b;
  font-family: "Josefin Sans" sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #ffff;
  cursor: pointer;
}
/* MEDIA QUERIES */

@media (min-width: 600px) {
  nav {
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
  }
  nav a {
    font-size: 1em;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    margin: 0 4em;
  }
  .hamburger {
    display: none;
  }
  .about-container {
    margin: 4em;
    flex-direction: row;
    flex-flow: wrap;
  }
  .about-container img {
    margin: 2em 0;
  }
  .about-container p {
    font-size: 1.5em;
    margin: 0 2em;
  }
  .blog img {
    width: 25em;
    max-height: 15em;
    object-fit: cover;
  }
}
