/* GLOBAL STYLING */
html,
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.top-banner {
  background-image: url(/images/banner-img.jpg);
  background-size: cover;
  background-position: center;
  padding: 3em;
  display: flex;
  justify-content: center;
}
.logo {
  width: 25em;
  max-width: 100%;
}
footer {
  color: white;
  text-align: center;
  background-color: #141414;
  padding: 4em 0;
}
footer a {
  color: white;
  font-size: 2em;
  margin: 0.5em;
}
footer p {
  color: #a4a4a4;
}

.message {
  padding: 1em;
  color: grey;
}
.success {
  color: green;
}

.error {
  color: red;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #36514b;
  background-color: #ffd633;
  padding: 0.2em;
}

h2 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.loader {
  border: 10px solid #a4a4a4;
  border-top: 10px solid #141414;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
  margin: 4em 0;
}
.link-style {
  color: #a62e2e;
  font-family: "Jost", sans-serif;
  text-decoration: underline;
}
/* NAVIGATION */

nav {
  background-color: #141414;

  display: flex;
  justify-content: flex-end;
  padding: 2em;
}
nav a {
  color: white;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-size: 1.5em;
  margin: 0.6em;
}

.navbar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2em;
}
.navbar.active {
  display: flex;
}
.current {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 7px;
  color: #ffd633;
}

.hamburger {
  color: white;
  display: block;
  cursor: pointer;
  font-size: 2em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* INDEX */

#index-h1 {
  max-width: 80%;
  margin: 3em auto;
  margin-bottom: 1em;
}
.latest-blogs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 2em;
}

.latest-blogs img {
  width: 100%;
  max-height: 15em;
  object-fit: cover;
}
.latest-blogs p {
  margin: 1em auto;
}
.latest-blogs h2 {
  text-align: center;
}
.blog-navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}
.blog-navigator button {
  color: #141414;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.5em;
  margin: 1em;
  background-color: transparent;
  cursor: pointer;
  width: 15em;
  margin-bottom: 5em;
}
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/* ABOUT */

#about-h1 {
  margin: 3em auto;
  max-width: 57%;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
}
.about-container img {
  max-width: 100%;
}
.about-container p {
  max-width: 100%;
  font-size: 1.2em;
}

/* BLOG */

#blog-h1 {
  margin: 3em auto;
  max-width: 84%;
}
.blogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.blog {
  margin: 1em 3em;
  max-width: 17em;
}

.blog img {
  max-height: 10em;
  min-width: 17em;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: #141414;
}
.view-more-btn {
  display: block;
  margin: 2em auto;
  font-family: "Jost", sans-serif;
  font-size: 1.5em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #36514b;
  text-decoration: underline;
}

/* BLOG PAGE */

.blog-post-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.blog-title {
  background-color: transparent;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
}
.blog-post-container {
  width: 80%;
  margin: 4em 0;
}
.blog-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}
.blog-post p {
  margin: 1.5em 0;
}
.social-buttons {
  font-size: 1.5em;
  align-self: flex-end;
  color: #36514b;
  margin: 0.5em 0;
}
.blog-excerpt {
  font-size: 1.5em;
}
.blog-content {
}
.blog-post-container img {
  object-fit: cover;
  height: 20em;
  width: 100%;
}
/* CONTACT */
#contact-h1 {
  max-width: 12.1em;
  margin: 3em 1em;
}
form {
  display: flex;
  margin: 0em 2em;
  flex-direction: column;
  max-width: 25em;
  justify-content: center;
}
form label {
  text-transform: uppercase;
  margin-top: 1em;
}
form input {
  font-family: "Jost", sans-serif;
  font-size: 1em;
}
form textarea {
  font-family: "Jost", sans-serif;
  font-size: 1em;
}
#submit {
  background-color: #36514b;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3em;
  font-weight: 500;
  font-size: 1.5em;
  color: #ffff;
  cursor: pointer;
  margin: 2em 0;
}
.form-error {
  display: none;
  color: firebrick;
  font-weight: 600;
}
.message-container {
  margin: 0 auto;
  max-width: 26em;
}
/* MEDIA QUERIES */

@media (min-width: 600px) {
  nav {
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
  }
  nav a {
    font-size: 1em;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    margin: 0 4em;
  }
  .hamburger {
    display: none;
  }
  #index-h1 {
    max-width: 12em;
  }
  .latest-blogs img {
    width: 25em;
  }
  .blog-navigator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .latest-blogs p {
    max-width: 25em;
  }
  .about-container {
    margin: 4em;
    flex-direction: row;
    flex-flow: wrap;
  }
  .about-container img {
    max-width: 25em;
  }
  .about-container p {
    font-size: 1.5em;
    margin: 1em 2em;
    max-width: 25em;
  }
  .blog {
    margin: 2em 8em;
    max-width: 30em;
  }
  .blog img {
    width: 30em;
    max-height: 18em;
    object-fit: cover;
  }
  .blog-post-container {
    width: 60%;
  }
  form {
    margin: 0em auto;
  }
  #contact-h1 {
    margin: 3em auto;
  }
}
